@use '../base/' as *;

.main-section {
	height: 60vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-block: min(10vh, 10rem);
	font-family: $ff-global;
	text-align: center;
	@include clamp-font-size(24px, 45px);
	background-color: $clr-bg;
	gap: 35px;
	user-select: none;

	&__title {
		font-weight: bold;
		color: $clr-font-black;
	}

	&__result {
		color: $clr-font-black;
	}
}
